/* fix nav */
body {
    padding-top: 3.5rem;
}

/* welcome-page */
.welcome-screen {
    background: -moz-linear-gradient(top, skyblue, #FFF);
    background: -webkit-linear-gradient(top, skyblue, #FFF);
    background: linear-gradient(to bottom, skyblue, #FFF);
    min-height: 100vh;
}

h1.welcome {
    text-align: center;
    font-size: 5em;
    margin-bottom: 1.2em;   
}

.welcome-font {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-fa-big {
    font-size: 18em;
}

.welcome-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-sentence {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-register {
    font-size: 2em;
    margin-right: 10px;
    width: 200px
}

.welcome-home {
    font-size: 2em;
    width: 200px 
}

.welcome-login {
    font-size: 2em;
    margin-left: 10px;
    width: 200px;
}

.welcome-sentece-1 {
    font-size: 2.5em;
    text-align: center;
}

/* login */
.login-email {
    margin: 0 auto;
}

.login-default {
    background-color: skyblue;
    text-align: center;
}

/* home */

.home-h1 {
    font-size: 3.25rem;
    padding: 0.5em 0
}

.home-lessons {
    margin: 2em;
    background-color: #C4C4C4;
}

.home-details {
    font-size: 2em;
}

.home-selectContents {
    font-size: 2em;
}

.lesson-user {
    min-height: 500px;
}

.home-admin-show {
    margin-bottom: 1.3em;
}

/* edit profile */
.editUser-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editUser-inputFile {
    padding-left: 7em;
}

.edit-error-sentence {
    color: red;
    margin-left: 10em;
}

/* lesson question */
.answer-blue {
    color: blue;
}

.answer-red {
    color: red;
}

.question-correct {
    background-color: aquamarine;
}
/* lesson index */
.lesson-index-explanation {
    font-size: 1.3em;
}

.question-show {
    font-size: 1.3em;
/* change password */
.changePassword-error {
    color: red;
}

/* lesson question */
.answer-blue {
    color: blue;
}

.answer-red {
    color: red;
}

.question-correct-answer {
    font-size: 1.2em;
}

.explanation-block {
    background-color: skyblue;
}

/* password page */
.changePassword-error-message {
    color: red;
}

/* edit and new lesson */
.new-lesson-error-sentence {
    color: red;
}

/* delete function */
.modal-footer {
    justify-content: center;
}